function int fib x
0: iload 0
1: push 2
2: if_icmpgt 5
3: push 1
4: return
5: iload 0
6: push 2
7: isub
8: invokestatic Main.fib
9: iload 0
10: push 1
11: isub
12: invokestatic Main.fib
13: iadd
14: return

function void main
push 5
invokestatic Main.fib

push 7
invokestatic Main.fib
istore 1
istore 0
